aiohttp
aiosignal
annotated-types
anyio
attrs
certifi
charset-normalizer
decorator
distro
frozenlist
h11
httpcore
httpx
idna
imageio
imageio-ffmpeg
moviepy
multidict
numpy
openai
pillow
proglog
pydantic
pydantic-settings
pydantic_core
python-dotenv
python-telegram-bot
requests
sniffio
tqdm
typing_extensions
urllib3
yarl
